<h1>{{title}}</h1>
<!-- <form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter name">
  <br>
  <br>
  <input type="text" ngModel name="job" placeholder="Enter job">
  <br>
  <br>
  <ul>
    <li>Name: {{results.name}}</li>
    <li>Job: {{results.job}}</li>
    <li>Id: {{results.id}}</li>
    <li>Results: {{results.createdAt}}</li>
  </ul>
  <button> Login </button>
</form> -->

<!-- <h1>get Api</h1>
<ul *ngFor="let user of users">
  <li>UserId:  {{user.userId}}</li>
  <li >Id: {{user.id}}</li>
  <li>Title:{{user.title}}</li>
  <li>Body:{{user.body}}</li>
</ul> -->

<!-- <ul *ngFor="let users of user">
  <li >{{users.name}}</li>
  <li >{{users.email}}</li>

</ul> -->

<!-- <ul >
  <li *ngFor="let user of users">{{user.name}}</li>

</ul> -->
<!-- <app-footer></app-footer> -->